*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (max-width:576px) {
    .nav-all-item,
    nav li {
        flex-direction: column;
        width: 90%;
        padding: 0;
        margin-left: 10px;   
    }
    .banner-section {
        flex-direction: column-reverse;
    }
    .camera-bg {
        gap: 0;
        margin-right: 10px;
    }
    .start-journey{
        margin: 0;
        padding: 0;
    }

    
}