* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
/* shared css */
.products-title {
  color: #3a3a3a;
  font-size: 24px;
  font-weight: 700;
}
.similar-color {
  color: #3a3a3a;
}
.home-about {
  color: #3a3a3a;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-weight: 600;
}
/* header section start */
header,
main {
  max-width: 1440px;
  margin: 50px auto;
}
/* header > nav section */
.nav-all-item {
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-left: 34px;
}
.all-links-home {
  display: flex;
  align-items: center;
}
nav a {
  color: #000;
  text-decoration: none;
}
.banner-section {
  display: flex;
  justify-content: space-between;
}
.start-journey {
  margin-top: 145px;
}
.start-journey h1 {
  font-size: 52px;
  font-weight: 700;
}
.start-journey p {
  padding: 16px 0;
}
.btn-1 {
  padding: 10px 24px;
  gap: 8px;
  border-radius: 41px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  background: #e02c6d;
  border: #fff;
}
.bg-position {
  position: relative;
}
.bg {
  bottom: -7%;
  position: absolute;
  z-index: -1;
}
.camera-bg {
  margin-top: 80px;
  margin-right: 132px;
}
.lines-1 {
  margin-top: 100px;
}
.market-place {
  display: flex;
  justify-content: space-around;
  margin: 41px 0 40px;
  /* margin: 100px auto; */
}
/* main section styles */
main {
  background-color: #fff;
}
.collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
}
.collection-items {
  /* border: 2px solid tomato; */
  border-radius: 5px;
  padding: 14px;
  width: 329px;
  height: 476px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.item-details {
  color: var(--Gray-50, #787885);
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 0.252px;
}
.collection i{
  color: #FB8200;
}
